body{
	background: #7F7B7B;
	font: 10px "Press Start 2P";
	margin: 0px;
	padding: 0px;
}
html{
	margin: 0px;
	padding: 0px;
}
p{

}

div{
	font-family: "Press Start 2P";
	color: #EC5B5B;
  	padding: 20px 40px 20px 40px;
}
#myVideo {
	height: 100%;
	width: auto;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

